.u-section-6 .u-sheet-1 {
    min-height: 528px;
  }
  
  .u-section-6 .u-gallery-1 {
    height: 408px;
    grid-template-columns: repeat(5, auto);
    grid-gap: 15px;
    margin: 60px auto 60px 0;
  }
  
  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 15px 15px;
  }
  
  .u-section-6 .u-back-slide-1 {
    background-position: 50% 50%;
  }
  
  .u-section-6 .u-back-image-1 {
    object-position: 50% 50%;
  }
  
  .u-section-6 .u-over-slide-1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 20px;
  }
  
  .u-section-6 .u-gallery-item-2 {
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
  }
  
  .u-section-6 .u-back-slide-2 {
    background-position: 50% 50%;
  }
  
  .u-section-6 .u-back-image-2 {
    object-position: 50% 50%;
  }
  
  .u-section-6 .u-over-slide-2 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    transition-duration: 0.5s;
    padding: 20px;
  }
  
  .u-section-6 .u-back-slide-3 {
    background-position: 50% 50%;
  }
  
  .u-section-6 .u-back-image-3 {
    object-position: 50% 50%;
  }
  
  .u-section-6 .u-over-slide-3 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 20px;
  }
  
  .u-section-6 .u-back-slide-4 {
    background-position: 50% 50%;
  }
  
  .u-section-6 .u-back-image-4 {
    object-position: 50% 50%;
  }
  
  .u-section-6 .u-over-slide-4 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 20px;
  }
  
  .u-section-6 .u-back-slide-5 {
    background-position: 50% 50%;
  }
  
  .u-section-6 .u-back-image-5 {
    object-position: 50% 50%;
  }
  
  .u-section-6 .u-over-slide-5 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 20px;
  }
  
  .u-section-6 .u-gallery-item-6 {
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
  }
  
  .u-section-6 .u-back-slide-6 {
    background-position: 50% 100%;
  }
  
  .u-section-6 .u-back-image-6 {
    object-position: 50% 100%;
  }
  
  .u-section-6 .u-over-slide-6 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    transition-duration: 0.5s;
    padding: 20px;
  }
  
  .u-section-6 .u-gallery-item-7 {
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
  }
  
  .u-section-6 .u-back-slide-7 {
    background-position: 50% 50%;
  }
  
  .u-section-6 .u-back-image-7 {
    object-position: 50% 50%;
  }
  
  .u-section-6 .u-over-slide-7 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    transition-duration: 0.5s;
    padding: 20px;
  }
  
  .u-section-6 .u-gallery-item-8 {
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
  }
  
  .u-section-6 .u-back-slide-8 {
    background-position: 50% 50%;
  }
  
  .u-section-6 .u-back-image-8 {
    object-position: 50% 50%;
  }
  
  .u-section-6 .u-over-slide-8 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    transition-duration: 0.5s;
    padding: 20px;
  }
  
  .u-section-6 .u-gallery-item-9 {
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
  }
  
  .u-section-6 .u-back-slide-9 {
    background-position: 50% 50%;
  }
  
  .u-section-6 .u-back-image-9 {
    object-position: 50% 50%;
  }
  
  .u-section-6 .u-over-slide-9 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    transition-duration: 0.5s;
    padding: 20px;
  }
  
  .u-section-6 .u-gallery-item-10 {
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
  }
  
  .u-section-6 .u-back-slide-10 {
    background-position: 50% 50%;
  }
  
  .u-section-6 .u-back-image-10 {
    object-position: 50% 50%;
  }
  
  .u-section-6 .u-over-slide-10 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    transition-duration: 0.5s;
    padding: 20px;
  }
  
  @media (max-width: 1199px) {
    .u-section-6 .u-sheet-1 {
      min-height: 385px;
    }
  
    .u-section-6 .u-gallery-1 {
      height: 336px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-6 .u-gallery-inner-1 {
      grid-template-columns: repeat(5, auto);
    }
  }
  
  @media (max-width: 991px) {
    .u-section-6 .u-gallery-1 {
      height: 1543px;
      grid-template-columns: repeat(2, auto);
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-6 .u-gallery-inner-1 {
      grid-template-columns: auto auto;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-6 .u-sheet-1 {
      min-height: 3471px;
    }
  
    .u-section-6 .u-gallery-1 {
      height: 4629px;
      grid-template-columns: repeat(1, auto);
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-6 .u-gallery-inner-1 {
      grid-template-columns: repeat(1, auto);
    }
  }
  
  @media (max-width: 575px) {
    .u-section-6 .u-sheet-1 {
      min-height: 1756px;
    }
  
    .u-section-6 .u-gallery-1 {
      height: 2914px;
      margin-right: initial;
      margin-left: initial;
    }
  }