.u-section-2 {
    min-height: 381px;
  }
  
  .u-section-2 .u-layout-wrap-1 {
    margin: 0 auto 0 0;
  }
  
  .u-section-2 .u-layout-cell-1 {
    min-height: 381px;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
  }
  
  .u-section-2 .u-text-1 {
    margin: 61px 10px 0;
  }
  
  .u-section-2 .u-image-1 {
    width: 103px;
    height: 15px;
    margin: 20px auto 0 0;
  }
  
  .u-section-2 .u-text-2 {
    margin: 20px 20px 0 0;
  }
  
  .u-section-2 .u-layout-cell-2 {
    min-height: 381px;
    background-image: none;
  }
  
  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
  }
  
  .u-section-2 .u-text-3 {
    margin: 61px 10px 0;
  }
  
  .u-section-2 .u-image-2 {
    width: 103px;
    height: 15px;
    margin: 20px auto 0 0;
  }
  
  .u-section-2 .u-text-4 {
    margin: 20px 20px 0 0;
  }
  
  .u-section-2 .u-layout-cell-3 {
    min-height: 381px;
    background-image: none;
  }
  
  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
  }
  
  .u-section-2 .u-text-5 {
    margin: 61px 10px 0;
  }
  
  .u-section-2 .u-image-3 {
    width: 103px;
    height: 15px;
    margin: 20px auto 0 0;
  }
  
  .u-section-2 .u-text-6 {
    margin: 20px 20px 0 0;
  }
  
  .u-section-2 .u-layout-cell-4 {
    min-height: 381px;
    background-image: none;
  }
  
  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
  }
  
  .u-section-2 .u-text-7 {
    margin: 61px 10px 0;
  }
  
  .u-section-2 .u-image-4 {
    width: 103px;
    height: 15px;
    margin: 20px auto 0 0;
  }
  
  .u-section-2 .u-text-8 {
    margin: 20px 20px 0 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 16px;
    }
  
    .u-section-2 .u-text-1 {
      position: relative;
      margin-right: 16px;
      margin-left: 0;
    }
  
    .u-section-2 .u-image-1 {
      width: 85px;
    }
  
    .u-section-2 .u-text-2 {
      margin-right: 16px;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-left: 16px;
    }
  
    .u-section-2 .u-text-3 {
      position: relative;
      margin-right: 16px;
      margin-left: 0;
    }
  
    .u-section-2 .u-image-2 {
      width: 85px;
    }
  
    .u-section-2 .u-text-4 {
      margin-right: 16px;
    }
  
    .u-section-2 .u-container-layout-3 {
      padding-left: 16px;
    }
  
    .u-section-2 .u-text-5 {
      position: relative;
      margin-right: 16px;
      margin-left: 0;
    }
  
    .u-section-2 .u-image-3 {
      width: 85px;
    }
  
    .u-section-2 .u-text-6 {
      margin-right: 16px;
    }
  
    .u-section-2 .u-container-layout-4 {
      padding-left: 16px;
    }
  
    .u-section-2 .u-text-7 {
      position: relative;
      margin-top: 30px;
      margin-right: 16px;
      margin-left: 0;
    }
  
    .u-section-2 .u-image-4 {
      width: 85px;
    }
  
    .u-section-2 .u-text-8 {
      margin-right: 16px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-container-layout-1 {
      padding-left: 13px;
    }
  
    .u-section-2 .u-text-1 {
      margin-right: 13px;
    }
  
    .u-section-2 .u-image-1 {
      width: 65px;
    }
  
    .u-section-2 .u-text-2 {
      margin-right: 13px;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-left: 13px;
    }
  
    .u-section-2 .u-text-3 {
      margin-right: 13px;
    }
  
    .u-section-2 .u-image-2 {
      width: 65px;
    }
  
    .u-section-2 .u-text-4 {
      margin-right: 13px;
    }
  
    .u-section-2 .u-container-layout-3 {
      padding-left: 13px;
    }
  
    .u-section-2 .u-text-5 {
      margin-right: 13px;
    }
  
    .u-section-2 .u-image-3 {
      width: 65px;
    }
  
    .u-section-2 .u-text-6 {
      margin-right: 13px;
    }
  
    .u-section-2 .u-container-layout-4 {
      padding-left: 13px;
    }
  
    .u-section-2 .u-text-7 {
      margin-right: 13px;
    }
  
    .u-section-2 .u-image-4 {
      width: 65px;
    }
  
    .u-section-2 .u-text-8 {
      margin-right: 13px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-container-layout-1 {
      padding-left: 9px;
    }
  
    .u-section-2 .u-text-1 {
      margin-right: 9px;
    }
  
    .u-section-2 .u-image-1 {
      width: 119px;
      height: 35px;
    }
  
    .u-section-2 .u-text-2 {
      margin-top: 0;
      margin-right: 9px;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-left: 9px;
    }
  
    .u-section-2 .u-text-3 {
      margin-right: 9px;
    }
  
    .u-section-2 .u-image-2 {
      width: 119px;
    }
  
    .u-section-2 .u-text-4 {
      margin-right: 9px;
    }
  
    .u-section-2 .u-container-layout-3 {
      padding-left: 9px;
    }
  
    .u-section-2 .u-text-5 {
      margin-right: 9px;
    }
  
    .u-section-2 .u-image-3 {
      width: 119px;
      height: 26px;
    }
  
    .u-section-2 .u-text-6 {
      margin-top: 9px;
      margin-right: 9px;
    }
  
    .u-section-2 .u-container-layout-4 {
      padding-left: 9px;
    }
  
    .u-section-2 .u-text-7 {
      margin-right: 9px;
    }
  
    .u-section-2 .u-image-4 {
      width: 119px;
    }
  
    .u-section-2 .u-text-8 {
      margin-right: 9px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-container-layout-1 {
      padding-left: 6px;
    }
  
    .u-section-2 .u-text-1 {
      margin-right: 6px;
    }
  
    .u-section-2 .u-image-1 {
      width: 126px;
      height: 22px;
    }
  
    .u-section-2 .u-text-2 {
      margin-top: 13px;
      margin-right: 6px;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-left: 6px;
    }
  
    .u-section-2 .u-text-3 {
      margin-right: 6px;
    }
  
    .u-section-2 .u-image-2 {
      width: 126px;
      height: 22px;
    }
  
    .u-section-2 .u-text-4 {
      margin-top: 13px;
      margin-right: 6px;
    }
  
    .u-section-2 .u-container-layout-3 {
      padding-left: 6px;
    }
  
    .u-section-2 .u-text-5 {
      margin-right: 6px;
    }
  
    .u-section-2 .u-image-3 {
      width: 126px;
      height: 22px;
    }
  
    .u-section-2 .u-text-6 {
      margin-top: 13px;
      margin-right: 6px;
    }
  
    .u-section-2 .u-container-layout-4 {
      padding-left: 6px;
    }
  
    .u-section-2 .u-text-7 {
      margin-right: 6px;
    }
  
    .u-section-2 .u-image-4 {
      width: 126px;
      height: 22px;
    }
  
    .u-section-2 .u-text-8 {
      margin-top: 13px;
      margin-right: 6px;
    }
  }