.u-section-3 {
    background-image: url("./images/IMG_20191121_120158-01.jpeg");
    background-position: 50% 50%;
  }
  
  .u-section-3 .u-sheet-1 {
    min-height: 670px;
  }
  
  .u-section-3 .u-layout-wrap-1 {
    margin: 65px auto 10px 0;
  }
  
  .u-section-3 .u-layout-cell-1 {
    background-image: none;
    min-height: 560px;
  }
  
  .u-section-3 .u-container-layout-1 {
    padding-left: 12px;
  }
  
  .u-section-3 .u-text-1 {
    margin: 73px 0 0;
  }
  
  .u-section-3 .u-image-1 {
    width: 144px;
    height: 4px;
    margin: 36px auto 0 26px;
  }
  
  .u-section-3 .u-text-2 {
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 41px 14px 0 26px;
  }
  
  .u-section-3 .u-btn-1 {
    margin: 39px auto 0 26px;
  }
  
  .u-section-3 .u-image-2 {
    background-image: url("./images/classmaterials.jpg");
    min-height: 280px;
    background-position: 50% 50%;
  }
  
  .u-section-3 .u-image-3 {
    background-image: url("./images/contest.jpg");
    min-height: 280px;
    background-position: 50% 50%;
  }
  
  .u-section-3 .u-image-4 {
    background-image: url("./images/donation.jpg");
    min-height: 280px;
    background-position: 50% 50%;
  }
  
  .u-section-3 .u-image-5 {
    background-image: url("./images/sporttt.jpg");
    min-height: 280px;
    background-position: 50% 50%;
  }
  
  @media (max-width: 1199px) {
    .u-section-3 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-3 .u-container-layout-1 {
      padding-left: 10px;
    }
  
    .u-section-3 .u-text-1 {
      margin-right: 12px;
      margin-left: 21px;
    }
  
    .u-section-3 .u-image-1 {
      width: 119px;
      margin-left: 21px;
    }
  
    .u-section-3 .u-text-2 {
      position: relative;
      margin-right: 12px;
      margin-left: 21px;
    }
  
    .u-section-3 .u-btn-1 {
      margin-left: 21px;
      margin-right: 21px;
      position: relative;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-3 .u-container-layout-1 {
      padding-left: 24px;
    }
  
    .u-section-3 .u-text-1 {
      margin-right: 9px;
      margin-left: 0;
    }
  
    .u-section-3 .u-image-1 {
      width: 94px;
      height: 20px;
      margin-left: 26px;
    }
  
    .u-section-3 .u-text-2 {
      margin-top: 24px;
      margin-right: 9px;
      margin-left: 26px;
    }
  
    .u-section-3 .u-btn-1 {
      margin-left: 26px;
      margin-right: 16px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-3 .u-container-layout-1 {
      padding-left: 12px;
    }
  
    .u-section-3 .u-text-1 {
      margin-right: 7px;
    }
  
    .u-section-3 .u-image-1 {
      width: 128px;
      height: 14px;
    }
  
    .u-section-3 .u-text-2 {
      margin-top: 30px;
      margin-right: 7px;
    }
  
    .u-section-3 .u-btn-1 {
      margin-right: 12px;
    }
  
    .u-section-3 .u-image-2 {
      min-height: 531px;
    }
  
    .u-section-3 .u-image-3 {
      min-height: 531px;
    }
  
    .u-section-3 .u-image-4 {
      min-height: 531px;
    }
  
    .u-section-3 .u-image-5 {
      min-height: 531px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-3 .u-container-layout-1 {
      padding-left: 4px;
    }
  
    .u-section-3 .u-text-1 {
      margin-top: 55px;
      margin-right: 4px;
    }
  
    .u-section-3 .u-image-1 {
      width: 149px;
    }
  
    .u-section-3 .u-text-2 {
      margin-right: 4px;
    }
  
    .u-section-3 .u-btn-1 {
      margin-top: 20px;
      margin-right: 8px;
      margin-bottom: 55px;
    }
  
    .u-section-3 .u-image-2 {
      min-height: 280px;
    }
  
    .u-section-3 .u-image-3 {
      min-height: 280px;
    }
  
    .u-section-3 .u-image-4 {
      min-height: 280px;
    }
  
    .u-section-3 .u-image-5 {
      min-height: 280px;
    }
  }