.about-page .u-section-2-1 .u-sheet-1 {
    min-height: 982px;
  }
  
  .about-page .u-section-2-1 .u-image-1 {
    height: 617px;
    object-position: 50% 15.04%;
    background-position: 50% 15.04%;
    margin-top: 270px;
    margin-bottom: 0;
    margin-left: 0;
  }
  
  .about-page .u-section-2-1 .u-layout-wrap-1 {
    width: 817px;
    margin: -847px auto 60px 0;
  }
  
  .about-page .u-section-2-1 .u-layout-cell-1 {
    min-height: 370px;
  }
  
  .about-page .u-section-2-1 .u-container-layout-1 {
    padding: 30px;
  }
  
  .about-page .u-section-2-1 .u-text-1 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 5px;
    margin: 0;
  }
  
  .about-page .u-section-2-1 .u-text-2 {
    font-size: 1.875rem;
    margin: 20px 0 0;
  }
  
  .about-page .u-section-2-1 .u-link-1 {
    padding-bottom: 2px;
    margin: 30px 263px 0 0;
  }
  
  .about-page .u-section-2-1 .u-layout-cell-2 {
    min-height: 370px;
  }
  
  .about-page .u-section-2-1 .u-container-layout-2 {
    padding: 30px;
  }
  
  .about-page .u-section-2-1 .u-text-3 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 5px;
    margin: 0;
  }
  
  .about-page .u-section-2-1 .u-text-4 {
    font-size: 1.875rem;
    margin: 20px 0 0;
  }
  
  .about-page .u-section-2-1 .u-link-2 {
    padding-bottom: 2px;
    margin: 30px auto 0 0;
  }
  
  @media (max-width: 1199px) {
    .about-page .u-section-2-1 .u-image-1 {
      margin-left: initial;
    }
  
    .about-page .u-section-2-1 .u-link-1 {
      margin-right: 163px;
    }
  }
  
  @media (max-width: 991px) {
    .about-page .u-section-2-1 .u-layout-wrap-1 {
      width: 720px;
    }
  
    .about-page .u-section-2-1 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .about-page .u-section-2-1 .u-link-1 {
      margin-right: 53px;
    }
  
    .about-page .u-section-2-1 .u-layout-cell-2 {
      min-height: 100px;
    }
  }
  
  @media (max-width: 767px) {
    .about-page .u-section-2-1 .u-image-1 {
      height: 422px;
      object-position: 19.36% 15.04%;
      background-position: 19.36% 15.04%;
      margin-top: 465px;
      margin-left: initial;
    }
  
    .about-page .u-section-2-1 .u-layout-wrap-1 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .about-page .u-section-2-1 .u-sheet-1 {
      min-height: 261px;
    }
  
    .about-page .u-section-2-1 .u-image-1 {
      height: 344px;
      margin-top: 544px;
      margin-left: initial;
    }
  
    .about-page .u-section-2-1 .u-layout-wrap-1 {
      width: 340px;
    }
  
    .about-page .u-section-2-1 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .about-page .u-section-2-1 .u-text-2 {
      font-size: 1.5rem;
    }
  
    .about-page .u-section-2-1 .u-link-1 {
      margin-right: 0;
    }
  
    .about-page .u-section-2-1 .u-container-layout-2 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .about-page .u-section-2-1 .u-text-4 {
      font-size: 1.5rem;
    }
  }
  .about-page .u-section-2-2 .u-sheet-1 {
    min-height: 982px;
  }
  
  .about-page .u-section-2-2 .u-image-1 {
    height: 617px;
    object-position: 50% 15.04%;
    background-position: 50% 15.04%;
    margin: -647px auto 0 0;
  }
  
  .about-page .u-section-2-2 .u-layout-wrap-1 {
    width: 817px;
    margin: -847px auto 0 0;
  }
  
  .about-page .u-section-2-2 .u-layout-cell-1 {
    min-height: 370px;
    background-image: none;
  }
  
  .about-page .u-section-2-2 .u-container-layout-1 {
    padding: 30px;
  }
  
  .about-page .u-section-2-2 .u-text-1 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 5px;
    margin: 0;
  }
  
  .about-page .u-section-2-2 .u-text-2 {
    font-size: 1.875rem;
    margin: 20px 0 0;
  }
  
  .about-page .u-section-2-2 .u-link-1 {
    padding-bottom: 2px;
    margin: 30px auto 0 0;
  }
  
  .about-page .u-section-2-2 .u-layout-cell-2 {
    min-height: 370px;
    background-image: none;
  }
  
  .about-page .u-section-2-2 .u-container-layout-2 {
    padding: 30px;
  }
  
  .about-page .u-section-2-2 .u-text-3 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 5px;
    margin: 0;
  }
  
  .about-page .u-section-2-2 .u-text-4 {
    font-size: 1.875rem;
    margin: 20px 0 0;
  }
  
  .about-page .u-section-2-2 .u-link-2 {
    padding-bottom: 2px;
    margin: 30px auto 0 0;
  }
  
  .about-page .u-section-2-2 .u-image-2 {
    width: 570px;
    height: 387px;
    margin: 30px auto 0 0;
  }
  
  .about-page .u-section-2-2 .u-image-3 {
    height: 656px;
    margin-top: 217px;
    margin-bottom: 60px;
  }
  
  @media (max-width: 1199px) {
    .about-page .u-section-2-2 .u-image-1 {
      margin-right: initial;
      margin-left: initial;
    }
  }
  
  @media (max-width: 991px) {
    .about-page .u-section-2-2 .u-sheet-1 {
      min-height: 712px;
    }
  
    .about-page .u-section-2-2 .u-layout-wrap-1 {
      width: 720px;
    }
  
    .about-page .u-section-2-2 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .about-page .u-section-2-2 .u-layout-cell-2 {
      min-height: 100px;
    }
  }
  
  @media (max-width: 767px) {
    .about-page .u-section-2-2 .u-sheet-1 {
      min-height: 791px;
    }
  
    .about-page .u-section-2-2 .u-image-1 {
      height: 422px;
      margin-top: -452px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .about-page .u-section-2-2 .u-layout-wrap-1 {
      width: 540px;
    }
  
    .about-page .u-section-2-2 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .about-page .u-section-2-2 .u-text-2 {
      font-size: 1.5;
    }
  
    .about-page .u-section-2-2 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .about-page .u-section-2-2 .u-text-4 {
      font-size: 1.5;
    }
  
    .about-page .u-section-2-2 .u-image-2 {
      width: 540px;
      height: 366px;
      margin-top: 60px;
    }
  }
  
  @media (max-width: 575px) {
    .about-page .u-section-2-2 .u-sheet-1 {
      min-height: 261px;
    }
  
    .about-page .u-section-2-2 .u-image-1 {
      height: 344px;
      margin-top: -373px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .about-page .u-section-2-2 .u-layout-wrap-1 {
      width: 340px;
    }
  
    .about-page .u-section-2-2 .u-text-2 {
      font-size: 1.5rem;
    }
  
    .about-page .u-section-2-2 .u-text-4 {
      font-size: 1.5rem;
    }
  
    .about-page .u-section-2-2 .u-image-2 {
      width: 340px;
      height: 230px;
    }
  }
  .about-page .u-section-2-3 .u-sheet-1 {
    min-height: 982px;
  }
  
  .about-page .u-section-2-3 .u-image-1 {
    height: 617px;
    object-position: 50% 15.04%;
    background-position: 50% 15.04%;
    margin: -647px auto 0 0;
  }
  
  .about-page .u-section-2-3 .u-layout-wrap-1 {
    width: 817px;
    margin: -847px auto 0 0;
  }
  
  .about-page .u-section-2-3 .u-layout-cell-1 {
    min-height: 370px;
    background-image: none;
  }
  
  .about-page .u-section-2-3 .u-container-layout-1 {
    padding: 30px;
  }
  
  .about-page .u-section-2-3 .u-text-1 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 5px;
    margin: 0;
  }
  
  .about-page .u-section-2-3 .u-text-2 {
    font-size: 1.875rem;
    margin: 20px 0 0;
  }
  
  .about-page .u-section-2-3 .u-link-1 {
    padding-bottom: 2px;
    margin: 30px auto 0 0;
  }
  
  .about-page .u-section-2-3 .u-layout-cell-2 {
    min-height: 370px;
    background-image: none;
  }
  
  .about-page .u-section-2-3 .u-container-layout-2 {
    padding: 30px;
  }
  
  .about-page .u-section-2-3 .u-text-3 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 5px;
    margin: 0;
  }
  
  .about-page .u-section-2-3 .u-text-4 {
    font-size: 1.875rem;
    margin: 20px 0 0;
  }
  
  .about-page .u-section-2-3 .u-link-2 {
    padding-bottom: 2px;
    margin: 30px auto 0 0;
  }
  
  .about-page .u-section-2-3 .u-image-2 {
    width: 570px;
    height: 387px;
    margin: 30px auto 0 0;
  }
  
  .about-page .u-section-2-3 .u-image-3 {
    width: 1120px;
    height: 728px;
    margin: 202px auto 60px 0;
  }
  
  @media (max-width: 1199px) {
    .about-page .u-section-2-3 .u-sheet-1 {
      min-height: 865px;
    }
  
    .about-page .u-section-2-3 .u-image-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .about-page .u-section-2-3 .u-image-3 {
      width: 940px;
      height: 611px;
    }
  }
  
  @media (max-width: 991px) {
    .about-page .u-section-2-3 .u-sheet-1 {
      min-height: 452px;
    }
  
    .about-page .u-section-2-3 .u-layout-wrap-1 {
      width: 720px;
    }
  
    .about-page .u-section-2-3 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .about-page .u-section-2-3 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .about-page .u-section-2-3 .u-image-3 {
      width: 720px;
      height: 468px;
    }
  }
  
  @media (max-width: 767px) {
    .about-page .u-section-2-3 .u-sheet-1 {
      min-height: 415px;
    }
  
    .about-page .u-section-2-3 .u-image-1 {
      height: 422px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .about-page .u-section-2-3 .u-layout-wrap-1 {
      width: 540px;
    }
  
    .about-page .u-section-2-3 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .about-page .u-section-2-3 .u-text-2 {
      font-size: 1.5;
    }
  
    .about-page .u-section-2-3 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .about-page .u-section-2-3 .u-text-4 {
      font-size: 1.5;
    }
  
    .about-page .u-section-2-3 .u-image-2 {
      width: 540px;
      height: 366px;
    }
  
    .about-page .u-section-2-3 .u-image-3 {
      width: 540px;
      height: 351px;
    }
  }
  
  @media (max-width: 575px) {
    .about-page .u-section-2-3 .u-sheet-1 {
      min-height: 261px;
    }
  
    .about-page .u-section-2-3 .u-image-1 {
      height: 344px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .about-page .u-section-2-3 .u-layout-wrap-1 {
      width: 340px;
    }
  
    .about-page .u-section-2-3 .u-text-2 {
      font-size: 1.5rem;
    }
  
    .about-page .u-section-2-3 .u-text-4 {
      font-size: 1.5rem;
    }
  
    .about-page .u-section-2-3 .u-image-2 {
      width: 340px;
      height: 230px;
    }
  
    .about-page .u-section-2-3 .u-image-3 {
      height: 221px;
      margin-top: 332px;
      margin-bottom: 20px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  }
  .about-page .u-section-2-4 .u-sheet-1 {
    min-height: 1205px;
  }
  
  .about-page .u-section-2-4 .u-image-1 {
    height: 617px;
    object-position: 50% 15.04%;
    background-position: 50% 15.04%;
    margin: -647px auto 0 0;
  }
  
  .about-page .u-section-2-4 .u-layout-wrap-1 {
    width: 817px;
    margin: -847px auto 0 0;
  }
  
  .about-page .u-section-2-4 .u-layout-cell-1 {
    min-height: 370px;
    background-image: none;
  }
  
  .about-page .u-section-2-4 .u-container-layout-1 {
    padding: 30px;
  }
  
  .about-page .u-section-2-4 .u-text-1 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 5px;
    margin: 0;
  }
  
  .about-page .u-section-2-4 .u-text-2 {
    font-size: 1.875rem;
    margin: 20px 0 0;
  }
  
  .about-page .u-section-2-4 .u-link-1 {
    padding-bottom: 2px;
    margin: 30px auto 0 0;
  }
  
  .about-page .u-section-2-4 .u-layout-cell-2 {
    min-height: 370px;
    background-image: none;
  }
  
  .about-page .u-section-2-4 .u-container-layout-2 {
    padding: 30px;
  }
  
  .about-page .u-section-2-4 .u-text-3 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 5px;
    margin: 0;
  }
  
  .about-page .u-section-2-4 .u-text-4 {
    font-size: 1.875rem;
    margin: 20px 0 0;
  }
  
  .about-page .u-section-2-4 .u-link-2 {
    padding-bottom: 2px;
    margin: 30px auto 0 0;
  }
  
  .about-page .u-section-2-4 .u-image-2 {
    height: 881px;
    margin-top: 654px;
    margin-bottom: 60px;
    margin-left: 0;
    object-position: 50% 88.02%;
  }
  
  @media (max-width: 1199px) {
    .about-page .u-section-2-4 .u-image-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .about-page .u-section-2-4 .u-image-2 {
      margin-left: initial;
    }
  }
  
  @media (max-width: 991px) {
    .about-page .u-section-2-4 .u-sheet-1 {
      min-height: 935px;
    }
  
    .about-page .u-section-2-4 .u-layout-wrap-1 {
      width: 720px;
    }
  
    .about-page .u-section-2-4 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .about-page .u-section-2-4 .u-layout-cell-2 {
      min-height: 100px;
    }
  }
  
  @media (max-width: 767px) {
    .about-page .u-section-2-4 .u-sheet-1 {
      min-height: 1035px;
    }
  
    .about-page .u-section-2-4 .u-image-1 {
      height: 422px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .about-page .u-section-2-4 .u-layout-wrap-1 {
      width: 540px;
    }
  
    .about-page .u-section-2-4 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .about-page .u-section-2-4 .u-text-2 {
      font-size: 1.5;
    }
  
    .about-page .u-section-2-4 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .about-page .u-section-2-4 .u-text-4 {
      font-size: 1.5;
    }
  }
  
  @media (max-width: 575px) {
    .about-page .u-section-2-4 .u-sheet-1 {
      min-height: 261px;
    }
  
    .about-page .u-section-2-4 .u-image-1 {
      height: 344px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .about-page .u-section-2-4 .u-layout-wrap-1 {
      width: 340px;
    }
  
    .about-page .u-section-2-4 .u-text-2 {
      font-size: 1.5rem;
    }
  
    .about-page .u-section-2-4 .u-text-4 {
      font-size: 1.5rem;
    }
  }
  .about-page .u-section-2-5 .u-sheet-1 {
    min-height: 982px;
  }
  
  .about-page .u-section-2-5 .u-image-1 {
    height: 617px;
    object-position: 50% 15.04%;
    background-position: 50% 15.04%;
    margin: -647px auto 0 0;
  }
  
  .about-page .u-section-2-5 .u-layout-wrap-1 {
    width: 817px;
    margin: -847px auto 0 0;
  }
  
  .about-page .u-section-2-5 .u-layout-cell-1 {
    min-height: 370px;
    background-image: none;
  }
  
  .about-page .u-section-2-5 .u-container-layout-1 {
    padding: 30px;
  }
  
  .about-page .u-section-2-5 .u-text-1 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 5px;
    margin: 0;
  }
  
  .about-page .u-section-2-5 .u-text-2 {
    font-size: 1.875rem;
    margin: 20px 0 0;
  }
  
  .about-page .u-section-2-5 .u-link-1 {
    padding-bottom: 2px;
    margin: 30px auto 0 0;
  }
  
  .about-page .u-section-2-5 .u-layout-cell-2 {
    min-height: 370px;
    background-image: none;
  }
  
  .about-page .u-section-2-5 .u-container-layout-2 {
    padding: 30px;
  }
  
  .about-page .u-section-2-5 .u-text-3 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 5px;
    margin: 0;
  }
  
  .about-page .u-section-2-5 .u-text-4 {
    font-size: 1.875rem;
    margin: 20px 0 0;
  }
  
  .about-page .u-section-2-5 .u-link-2 {
    padding-bottom: 2px;
    margin: 30px auto 0 0;
  }
  
  .about-page .u-section-2-5 .u-image-2 {
    width: 570px;
    height: 428px;
    margin: 30px auto 0 0;
  }
  
  .about-page .u-section-2-5 .u-image-3 {
    height: 760px;
    margin-top: 131px;
    margin-bottom: 60px;
  }
  
  @media (max-width: 1199px) {
    .about-page .u-section-2-5 .u-image-1 {
      margin-right: initial;
      margin-left: initial;
    }
  }
  
  @media (max-width: 991px) {
    .about-page .u-section-2-5 .u-sheet-1 {
      min-height: 712px;
    }
  
    .about-page .u-section-2-5 .u-layout-wrap-1 {
      width: 720px;
    }
  
    .about-page .u-section-2-5 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .about-page .u-section-2-5 .u-layout-cell-2 {
      min-height: 100px;
    }
  }
  
  @media (max-width: 767px) {
    .about-page .u-section-2-5 .u-sheet-1 {
      min-height: 790px;
    }
  
    .about-page .u-section-2-5 .u-image-1 {
      height: 422px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .about-page .u-section-2-5 .u-layout-wrap-1 {
      width: 540px;
    }
  
    .about-page .u-section-2-5 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .about-page .u-section-2-5 .u-text-2 {
      font-size: 1.5;
    }
  
    .about-page .u-section-2-5 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .about-page .u-section-2-5 .u-text-4 {
      font-size: 1.5;
    }
  
    .about-page .u-section-2-5 .u-image-2 {
      width: 540px;
      height: 405px;
    }
  }
  
  @media (max-width: 575px) {
    .about-page .u-section-2-5 .u-sheet-1 {
      min-height: 261px;
    }
  
    .about-page .u-section-2-5 .u-image-1 {
      height: 344px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .about-page .u-section-2-5 .u-layout-wrap-1 {
      width: 340px;
    }
  
    .about-page .u-section-2-5 .u-text-2 {
      font-size: 1.5rem;
    }
  
    .about-page .u-section-2-5 .u-text-4 {
      font-size: 1.5rem;
    }
  
    .about-page .u-section-2-5 .u-image-2 {
      width: 340px;
      height: 255px;
    }
  }
  .about-page .u-section-1 {
    background-image: linear-gradient(0deg, rgba(51,49,41,0.55), rgba(51,49,41,0.55)), url("images/imageCollection50.jpg");
    background-position: 50% 50%;
  }
  
  .about-page .u-section-1 .u-sheet-1 {
    min-height: 574px;
  }
  
  .about-page .u-section-1 .u-group-1 {
    width: 800px;
    min-height: 380px;
    height: auto;
    margin: 42px auto 60px 154px;
  }
  
  .about-page .u-section-1 .u-container-layout-1 {
    padding: 50px;
  }
  
  .about-page .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin: 0 17px 0 -17px;
  }
  
  .about-page .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    text-transform: uppercase;
    margin: 139px 17px 0 -17px;
  }
  
  @media (max-width: 1199px) {
    .about-page .u-section-1 .u-sheet-1 {
      min-height: 473px;
    }
  
    .about-page .u-section-1 .u-group-1 {
      min-height: 426px;
      margin-left: 140px;
    }
  
    .about-page .u-section-1 .u-text-1 {
      margin-top: 234px;
    }
  
    .about-page .u-section-1 .u-text-2 {
      margin-top: -100px;
    }
  }
  
  @media (max-width: 991px) {
    .about-page .u-section-1 .u-sheet-1 {
      min-height: 362px;
    }
  
    .about-page .u-section-1 .u-group-1 {
      width: 720px;
      min-height: 380px;
      margin-left: 0;
    }
  
    .about-page .u-section-1 .u-container-layout-1 {
      padding: 30px;
    }
  
    .about-page .u-section-1 .u-text-1 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .about-page .u-section-1 .u-text-2 {
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  @media (max-width: 767px) {
    .about-page .u-section-1 .u-sheet-1 {
      min-height: 272px;
    }
  
    .about-page .u-section-1 .u-group-1 {
      width: 540px;
    }
  
    .about-page .u-section-1 .u-container-layout-1 {
      padding-left: 23px;
      padding-right: 23px;
    }
  
    .about-page .u-section-1 .u-text-1 {
      font-size: 2.25rem;
    }
  
    .about-page .u-section-1 .u-text-2 {
      margin-top: -87px;
    }
  }
  
  @media (max-width: 575px) {
    .about-page .u-section-1 .u-sheet-1 {
      min-height: 171px;
    }
  
    .about-page .u-section-1 .u-group-1 {
      width: 340px;
    }
  
    .about-page .u-section-1 .u-text-1 {
      font-size: 1.875rem;
      margin-top: 248px;
    }
  
    .about-page .u-section-1 .u-text-2 {
      font-size: 1rem;
      margin-top: -95px;
    }
  }
  .about-page .u-block-1407-2 {
    position: absolute;
    bottom: 10px;
  }
  
  .about-page .u-block-1407-3 {
    position: absolute;
    left: 0;
  }
  
  .about-page .u-block-1407-4 {
    position: absolute;
    width: 65px;
    height: 65px;
    left: auto;
    right: 0;
  }
  .about-page .u-section-3 .u-sheet-1 {
    min-height: 236px;
  }
  
  .about-page .u-section-3 .u-list-1 {
    min-height: 156px;
    grid-gap: 10px;
    grid-template-columns: repeat(5, calc(20% - 8px));
    grid-template-rows: repeat(1, auto);
    margin: 40px auto 40px 0;
  }
  
  .about-page .u-section-3 .u-container-layout-1 {
    padding: 30px 20px;
  }
  
  .about-page .u-section-3 .u-image-1 {
    height: 70px;
    margin: 0 auto 0 0;
  }
  
  .about-page .u-section-3 .u-container-layout-2 {
    padding: 30px 20px;
  }
  
  .about-page .u-section-3 .u-image-2 {
    height: 70px;
    margin: 0 auto 0 0;
  }
  
  .about-page .u-section-3 .u-container-layout-3 {
    padding: 30px 20px;
  }
  
  .about-page .u-section-3 .u-image-3 {
    height: 70px;
    margin: 0 auto 0 0;
  }
  
  .about-page .u-section-3 .u-container-layout-4 {
    padding: 30px 20px;
  }
  
  .about-page .u-section-3 .u-image-4 {
    height: 70px;
    margin: 0 auto 0 0;
  }
  
  .about-page .u-section-3 .u-container-layout-5 {
    padding: 30px 20px;
  }
  
  .about-page .u-section-3 .u-image-5 {
    height: 70px;
    margin: 0 auto 0 0;
  }
  
  @media (max-width: 1199px) {
    .about-page .u-section-3 .u-list-1 {
      min-height: 129px;
      height: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .about-page .u-section-3 .u-image-1 {
      height: 55px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .about-page .u-section-3 .u-image-2 {
      height: 55px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .about-page .u-section-3 .u-image-3 {
      height: 55px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .about-page .u-section-3 .u-image-4 {
      height: 55px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .about-page .u-section-3 .u-image-5 {
      height: 55px;
      margin-right: initial;
      margin-left: initial;
    }
  }
  
  @media (max-width: 991px) {
    .about-page .u-section-3 .u-list-1 {
      min-height: 329px;
      grid-template-columns: repeat(3, calc(33.333333333333336% - 7px));
      margin-right: initial;
      margin-left: initial;
    }
  
    .about-page .u-section-3 .u-image-1 {
      height: 74px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .about-page .u-section-3 .u-image-2 {
      height: 74px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .about-page .u-section-3 .u-image-3 {
      height: 74px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .about-page .u-section-3 .u-image-4 {
      height: 74px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .about-page .u-section-3 .u-image-5 {
      height: 74px;
      margin-right: initial;
      margin-left: initial;
    }
  }
  
  @media (max-width: 767px) {
    .about-page .u-section-3 .u-sheet-1 {
      min-height: 510px;
    }
  
    .about-page .u-section-3 .u-list-1 {
      min-height: 410px;
      grid-template-columns: repeat(2, calc(((100% - 540px) / 2)  + 265px));
      width: 472px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .about-page .u-section-3 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .about-page .u-section-3 .u-image-1 {
      height: 70px;
      width: 193px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .about-page .u-section-3 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .about-page .u-section-3 .u-image-2 {
      height: 70px;
      width: 193px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .about-page .u-section-3 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .about-page .u-section-3 .u-image-3 {
      height: 70px;
      width: 193px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .about-page .u-section-3 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .about-page .u-section-3 .u-image-4 {
      height: 70px;
      width: 193px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .about-page .u-section-3 .u-container-layout-5 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .about-page .u-section-3 .u-image-5 {
      height: 70px;
      width: 193px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (max-width: 575px) {
    .about-page .u-section-3 .u-sheet-1 {
      min-height: 444px;
    }
  
    .about-page .u-section-3 .u-list-1 {
      min-height: 344px;
      grid-template-columns: repeat(2, calc(((100% - 340px) / 2)  + 165px));
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .about-page .u-section-3 .u-image-1 {
      height: NaNpx;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .about-page .u-section-3 .u-image-2 {
      height: NaNpx;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .about-page .u-section-3 .u-image-3 {
      height: NaNpx;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .about-page .u-section-3 .u-image-4 {
      height: NaNpx;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .about-page .u-section-3 .u-image-5 {
      height: NaNpx;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  }