.u-section-5 {
    background-image: url("./images/IMG_20210225_163758_onFireAbhi1.jpg");
    background-position: 50% 50%;
  }
  
  .u-section-5 .u-sheet-1 {
    min-height: 670px;
  }
  
  .u-section-5 .u-layout-wrap-1 {
    width: 1082px;
    margin: 65px auto 60px 0;
  }
  
  .u-section-5 .u-layout-cell-1 {
    background-image: none;
    min-height: 560px;
  }
  
  .u-section-5 .u-container-layout-1 {
    padding-left: 8px;
  }
  
  .u-section-5 .u-text-1 {
    margin: 14px 4px 0 -4px;
  }
  
  .u-section-5 .u-image-1 {
    width: 144px;
    height: 4px;
    margin: 41px auto 0 92px;
  }
  
  .u-section-5 .u-text-2 {
    margin: 58px 14px 0 26px;
  }
  
  .u-section-5 .u-btn-1 {
    margin: 90px auto 0 26px;
  }
  
  .u-section-5 .u-layout-cell-2 {
    min-height: 560px;
  }
  
  .u-section-5 .u-container-layout-2 {
    padding: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-5 .u-layout-wrap-1 {
      width: 940px;
    }
  
    .u-section-5 .u-layout-cell-1 {
      min-height: 487px;
    }
  
    .u-section-5 .u-container-layout-1 {
      padding-left: 7px;
    }
  
    .u-section-5 .u-text-1 {
      margin-right: 12px;
      margin-left: 21px;
    }
  
    .u-section-5 .u-image-1 {
      width: 119px;
      margin-left: 21px;
    }
  
    .u-section-5 .u-text-2 {
      position: relative;
      margin-right: 12px;
      margin-left: 21px;
    }
  
    .u-section-5 .u-btn-1 {
      margin-left: 21px;
      margin-right: 21px;
      position: relative;
    }
  
    .u-section-5 .u-layout-cell-2 {
      background-position: 50% 50%;
      min-height: 487px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-5 .u-layout-wrap-1 {
      width: 720px;
    }
  
    .u-section-5 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-5 .u-container-layout-1 {
      padding-left: 21px;
    }
  
    .u-section-5 .u-text-1 {
      margin-right: 9px;
      margin-left: 0;
    }
  
    .u-section-5 .u-image-1 {
      width: 108px;
      margin-left: 92px;
    }
  
    .u-section-5 .u-text-2 {
      margin-top: 30px;
      margin-right: 9px;
      margin-left: 0;
    }
  
    .u-section-5 .u-btn-1 {
      margin-left: 0;
      margin-right: 16px;
    }
  
    .u-section-5 .u-layout-cell-2 {
      min-height: 373px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-5 .u-layout-wrap-1 {
      width: 540px;
    }
  
    .u-section-5 .u-container-layout-1 {
      padding-left: 8px;
      padding-right: 8px;
    }
  
    .u-section-5 .u-text-1 {
      margin-top: 110px;
      margin-right: 4px;
    }
  
    .u-section-5 .u-image-1 {
      width: 130px;
    }
  
    .u-section-5 .u-text-2 {
      margin-right: 4px;
    }
  
    .u-section-5 .u-btn-1 {
      margin-top: 30px;
      margin-right: auto;
      margin-bottom: 55px;
    }
  
    .u-section-5 .u-layout-cell-2 {
      min-height: 599px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-5 .u-layout-wrap-1 {
      width: 340px;
    }
  
    .u-section-5 .u-container-layout-1 {
      padding-left: 2px;
      padding-right: 2px;
    }
  
    .u-section-5 .u-text-1 {
      margin-right: 1px;
    }
  
    .u-section-5 .u-image-1 {
      width: 127px;
    }
  
    .u-section-5 .u-text-2 {
      margin-right: 1px;
    }
  
    .u-section-5 .u-btn-1 {
      margin-right: 8px;
    }
  
    .u-section-5 .u-layout-cell-2 {
      min-height: 353px;
    }
  }