.u-section-8 {
    background-image: none;
  }
  
  .u-section-8 .u-sheet-1 {
    min-height: 924px;
  }
  
  .u-section-8 .u-group-1 {
    width: 990px;
    min-height: 161px;
    margin: 29px auto 0 62px;
  }
  
  .u-section-8 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }
  
  .u-section-8 .u-text-1 {
    margin: 15px 20px 0;
  }
  
  .u-section-8 .u-image-1 {
    width: 192px;
    height: 10px;
    margin: 24px auto 0;
  }
  
  .u-section-8 .u-text-2 {
    font-style: italic;
    margin: 13px 20px 0;
  }
  
  .u-section-8 .u-layout-wrap-1 {
    width: 1140px;
    margin: 57px -13px 57px auto;
  }
  
  .u-section-8 .u-image-2 {
    background-image: url("./images/vp.JPG");
    min-height: 419px;
    background-position: 50% 50%;
  }
  
  .u-section-8 .u-layout-cell-2 {
    background-image: none;
    min-height: 201px;
  }
  
  .u-section-8 .u-text-3 {
    font-weight: 700;
    margin: 20px 20px 0;
  }
  
  .u-section-8 .u-text-4 {
    font-style: italic;
    margin: 20px 20px 0;
  }
  
  .u-section-8 .u-image-3 {
    background-image: url("./images/Head.JPG");
    min-height: 411px;
    background-position: 50% 50%;
  }
  
  .u-section-8 .u-container-layout-4 {
    padding: 0;
  }
  
  .u-section-8 .u-layout-cell-4 {
    background-image: none;
    min-height: 209px;
  }
  
  .u-section-8 .u-text-5 {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
  }
  
  .u-section-8 .u-text-6 {
    font-style: italic;
    margin: 20px 20px 0;
  }
  
  .u-section-8 .u-image-4 {
    background-image: url("./images/GS.JPG");
    min-height: 413px;
    background-position: 50% 50%;
  }
  
  .u-section-8 .u-layout-cell-6 {
    min-height: 207px;
    background-image: none;
  }
  
  .u-section-8 .u-text-7 {
    font-weight: 700;
    margin: 22px 33px 0 20px;
  }
  
  .u-section-8 .u-text-8 {
    font-style: italic;
    margin: 18px 20px 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-8 .u-group-1 {
      width: 816px;
      margin-left: 51px;
    }
  
    .u-section-8 .u-text-1 {
      margin-left: 16px;
      margin-right: 16px;
    }
  
    .u-section-8 .u-image-1 {
      width: 158px;
    }
  
    .u-section-8 .u-text-2 {
      margin-left: 16px;
      margin-right: 16px;
    }
  
    .u-section-8 .u-layout-wrap-1 {
      min-height: 618px;
      width: 940px;
      margin-right: 0;
    }
  
    .u-section-8 .u-image-2 {
      min-height: 345px;
    }
  
    .u-section-8 .u-layout-cell-2 {
      min-height: 166px;
    }
  
    .u-section-8 .u-text-3 {
      margin-left: 16px;
      margin-right: 16px;
      position: relative;
    }
  
    .u-section-8 .u-text-4 {
      position: relative;
      margin-left: 16px;
      margin-right: 16px;
    }
  
    .u-section-8 .u-image-3 {
      min-height: 339px;
    }
  
    .u-section-8 .u-layout-cell-4 {
      min-height: 172px;
    }
  
    .u-section-8 .u-text-5 {
      margin-left: 16px;
      margin-right: 16px;
      position: relative;
    }
  
    .u-section-8 .u-text-6 {
      margin-left: 16px;
      margin-right: 16px;
      position: relative;
    }
  
    .u-section-8 .u-image-4 {
      min-height: 341px;
    }
  
    .u-section-8 .u-layout-cell-6 {
      min-height: 171px;
    }
  
    .u-section-8 .u-text-7 {
      position: relative;
      margin-top: 115px;
      margin-left: 16px;
      margin-right: 16px;
    }
  
    .u-section-8 .u-text-8 {
      position: relative;
      margin-top: -121px;
      margin-left: 16px;
      margin-right: 16px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-8 .u-group-1 {
      width: 625px;
      min-height: 186px;
      margin-left: 39px;
    }
  
    .u-section-8 .u-text-1 {
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-8 .u-image-1 {
      width: 157px;
      height: 15px;
    }
  
    .u-section-8 .u-text-2 {
      margin-top: 15px;
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-8 .u-layout-wrap-1 {
      width: 720px;
    }
  
    .u-section-8 .u-image-2 {
      min-height: 396px;
    }
  
    .u-section-8 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-8 .u-text-3 {
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-8 .u-text-4 {
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-8 .u-image-3 {
      min-height: 389px;
    }
  
    .u-section-8 .u-layout-cell-4 {
      min-height: 161px;
    }
  
    .u-section-8 .u-text-5 {
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-8 .u-text-6 {
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-8 .u-image-4 {
      min-height: 784px;
    }
  
    .u-section-8 .u-layout-cell-6 {
      min-height: 108px;
    }
  
    .u-section-8 .u-text-7 {
      margin-top: 65px;
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-8 .u-text-8 {
      margin-top: -71px;
      margin-left: 13px;
      margin-right: 13px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-8 .u-group-1 {
      width: 511px;
      margin-left: 29px;
    }
  
    .u-section-8 .u-text-1 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-8 .u-image-1 {
      width: 155px;
    }
  
    .u-section-8 .u-text-2 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-8 .u-layout-wrap-1 {
      width: 540px;
    }
  
    .u-section-8 .u-image-2 {
      min-height: 594px;
    }
  
    .u-section-8 .u-layout-cell-2 {
      min-height: 108px;
    }
  
    .u-section-8 .u-text-3 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-8 .u-text-4 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-8 .u-image-3 {
      min-height: 584px;
    }
  
    .u-section-8 .u-layout-cell-4 {
      min-height: 108px;
    }
  
    .u-section-8 .u-text-5 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-8 .u-text-6 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-8 .u-image-4 {
      min-height: 588px;
    }
  
    .u-section-8 .u-layout-cell-6 {
      min-height: 133px;
    }
  
    .u-section-8 .u-text-7 {
      margin-top: 90px;
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-8 .u-text-8 {
      margin-top: -96px;
      margin-left: 9px;
      margin-right: 9px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-8 .u-sheet-1 {
      min-height: 2195px;
    }
  
    .u-section-8 .u-group-1 {
      min-height: 226px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-8 .u-text-1 {
      position: relative;
      margin-top: 22px;
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .u-section-8 .u-image-1 {
      width: 231px;
      height: 10px;
    }
  
    .u-section-8 .u-text-2 {
      margin: 13px 6px 23px;
    }
  
    .u-section-8 .u-layout-wrap-1 {
      margin-top: 20px;
      width: 340px;
    }
  
    .u-section-8 .u-image-2 {
      min-height: 374px;
    }
  
    .u-section-8 .u-text-3 {
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .u-section-8 .u-text-4 {
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .u-section-8 .u-image-3 {
      min-height: 368px;
    }
  
    .u-section-8 .u-layout-cell-4 {
      min-height: 161px;
    }
  
    .u-section-8 .u-text-5 {
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .u-section-8 .u-text-6 {
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .u-section-8 .u-image-4 {
      min-height: 370px;
    }
  
    .u-section-8 .u-layout-cell-6 {
      min-height: 158px;
    }
  
    .u-section-8 .u-text-7 {
      margin-top: 115px;
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .u-section-8 .u-text-8 {
      margin-top: -121px;
      margin-left: 6px;
      margin-right: 6px;
    }
  }