.u-section-9 .u-sheet-1 {
    min-height: 563px;
  }
  
  .u-section-9 .u-group-1 {
    width: 990px;
    min-height: 161px;
    margin: 33px auto 0 62px;
  }
  
  .u-section-9 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }
  
  .u-section-9 .u-text-1 {
    margin: 15px 20px 0;
  }
  
  .u-section-9 .u-image-1 {
    width: 192px;
    height: 10px;
    margin: 24px auto 0;
  }
  
  .u-section-9 .u-text-2 {
    font-style: italic;
    margin: 20px 20px 15px;
  }
  
  .u-section-9 .u-layout-wrap-1 {
    margin: 35px auto 0 0;
  }
  
  .u-section-9 .u-layout-cell-1 {
    background-image: none;
    min-height: 364px;
  }
  
  .u-section-9 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }
  
  .u-section-9 .u-group-2 {
    width: 508px;
    min-height: 258px;
    background-image: none;
    box-shadow: 0 0 12px 0 rgba(153,153,153,0.4);
    margin: 40px 20px 0 auto;
  }
  
  .u-section-9 .u-text-3 {
    margin: 49px 15px 0 224px;
  }
  
  .u-section-9 .u-text-4 {
    font-weight: 700;
    margin: 24px 15px 0 224px;
  }
  
  .u-section-9 .u-social-icons-1 {
    white-space: nowrap;
    height: 24px;
    min-height: 16px;
    width: 92px;
    min-width: 68px;
    margin: 13px 14px 0 auto;
  }
  
  .u-section-9 .u-icon-1 {
    height: 100%;
  }
  
  .u-section-9 .u-icon-2 {
    height: 100%;
  }
  
  .u-section-9 .u-icon-3 {
    height: 100%;
  }
  
  .u-section-9 .u-image-2 {
    width: 272px;
    height: 301px;
    margin-top: -252px;
    margin-right: auto;
    margin-left: 0;
  }
  
  .u-section-9 .u-layout-cell-2 {
    background-image: none;
    min-height: 364px;
  }
  
  .u-section-9 .u-group-3 {
    width: 508px;
    min-height: 258px;
    background-image: none;
    box-shadow: 0 0 12px 0 rgba(153,153,153,0.4);
    margin: 40px 20px 0 auto;
  }
  
  .u-section-9 .u-text-5 {
    margin: 49px 15px 0 224px;
  }
  
  .u-section-9 .u-text-6 {
    font-weight: 700;
    margin: 24px 15px 0 224px;
  }
  
  .u-section-9 .u-social-icons-2 {
    white-space: nowrap;
    height: 24px;
    min-height: 16px;
    width: 92px;
    min-width: 68px;
    margin: 13px 14px 0 auto;
  }
  
  .u-section-9 .u-icon-4 {
    height: 100%;
  }
  
  .u-section-9 .u-icon-5 {
    height: 100%;
  }
  
  .u-section-9 .u-icon-6 {
    height: 100%;
  }
  
  .u-section-9 .u-image-3 {
    width: 272px;
    height: 301px;
    margin-top: -252px;
    margin-right: auto;
    margin-left: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-9 .u-group-1 {
      width: 816px;
      margin-left: 51px;
    }
  
    .u-section-9 .u-text-1 {
      margin-left: 16px;
      margin-right: 16px;
    }
  
    .u-section-9 .u-image-1 {
      width: 169px;
      height: 15px;
    }
  
    .u-section-9 .u-text-2 {
      margin-top: 15px;
      margin-left: 16px;
      margin-right: 16px;
    }
  
    .u-section-9 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-9 .u-group-2 {
      width: 418px;
      margin-right: 16px;
    }
  
    .u-section-9 .u-text-3 {
      margin-right: 12px;
      margin-left: 185px;
    }
  
    .u-section-9 .u-text-4 {
      position: relative;
      margin-right: 12px;
      margin-left: 185px;
    }
  
    .u-section-9 .u-social-icons-1 {
      margin-right: 12px;
    }
  
    .u-section-9 .u-image-2 {
      width: 257px;
      height: 309px;
      margin-top: -260px;
      margin-bottom: 0;
    }
  
    .u-section-9 .u-group-3 {
      width: 418px;
      margin-right: 16px;
    }
  
    .u-section-9 .u-text-5 {
      margin-right: 12px;
      margin-left: 185px;
    }
  
    .u-section-9 .u-text-6 {
      position: relative;
      margin-right: 12px;
      margin-left: 185px;
    }
  
    .u-section-9 .u-social-icons-2 {
      margin-right: 12px;
    }
  
    .u-section-9 .u-image-3 {
      width: 257px;
      height: 309px;
      margin-top: -260px;
      margin-bottom: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-9 .u-group-1 {
      width: 625px;
      min-height: 186px;
      margin-left: 39px;
    }
  
    .u-section-9 .u-text-1 {
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-9 .u-image-1 {
      width: 184px;
    }
  
    .u-section-9 .u-text-2 {
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-9 .u-group-2 {
      width: 321px;
      min-height: 308px;
      margin-right: auto;
    }
  
    .u-section-9 .u-text-3 {
      position: relative;
      margin-right: 9px;
      margin-left: 141px;
    }
  
    .u-section-9 .u-text-4 {
      margin-right: 9px;
      margin-left: 141px;
    }
  
    .u-section-9 .u-social-icons-1 {
      margin-right: 9px;
    }
  
    .u-section-9 .u-image-2 {
      width: 239px;
      height: 334px;
      margin-top: 20px;
      margin-right: 9px;
      margin-left: auto;
    }
  
    .u-section-9 .u-group-3 {
      width: 321px;
      margin-right: 13px;
    }
  
    .u-section-9 .u-text-5 {
      margin-right: 9px;
      margin-left: 141px;
    }
  
    .u-section-9 .u-text-6 {
      margin-right: 9px;
      margin-left: 141px;
    }
  
    .u-section-9 .u-social-icons-2 {
      margin-right: 9px;
    }
  
    .u-section-9 .u-image-3 {
      width: 247px;
      height: 332px;
      margin-top: 20px;
      margin-right: 9px;
      margin-left: auto;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-9 .u-group-1 {
      width: 511px;
      margin-left: 29px;
    }
  
    .u-section-9 .u-text-1 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-9 .u-image-1 {
      width: 114px;
    }
  
    .u-section-9 .u-text-2 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-9 .u-group-2 {
      width: 521px;
    }
  
    .u-section-9 .u-text-3 {
      margin-right: 15px;
      margin-left: 192px;
    }
  
    .u-section-9 .u-text-4 {
      margin-top: 18px;
      margin-right: 15px;
      margin-left: 319px;
    }
  
    .u-section-9 .u-social-icons-1 {
      margin-top: 15px;
      margin-right: 15px;
    }
  
    .u-section-9 .u-image-2 {
      width: 312px;
      height: 348px;
      margin-top: -245px;
      margin-right: auto;
      margin-left: 0;
    }
  
    .u-section-9 .u-group-3 {
      width: 521px;
      min-height: 308px;
      margin-right: auto;
    }
  
    .u-section-9 .u-text-5 {
      margin-right: 15px;
      margin-left: 200px;
    }
  
    .u-section-9 .u-text-6 {
      margin-top: 18px;
      margin-right: 15px;
      margin-left: 319px;
    }
  
    .u-section-9 .u-social-icons-2 {
      margin-top: 16px;
      margin-right: 18px;
    }
  
    .u-section-9 .u-image-3 {
      width: 303px;
      height: 350px;
      margin-top: -248px;
      margin-right: auto;
      margin-left: 0;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-9 .u-sheet-1 {
      min-height: 1187px;
    }
  
    .u-section-9 .u-group-1 {
      width: 322px;
      min-height: 211px;
      margin-left: 18px;
    }
  
    .u-section-9 .u-text-1 {
      position: relative;
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .u-section-9 .u-image-1 {
      width: 155px;
      height: 21px;
      margin-top: 18px;
    }
  
    .u-section-9 .u-text-2 {
      position: relative;
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .u-section-9 .u-layout-cell-1 {
      min-height: 468px;
    }
  
    .u-section-9 .u-group-2 {
      width: 334px;
      min-height: 358px;
      margin-left: 0;
    }
  
    .u-section-9 .u-text-3 {
      margin-right: 4px;
      margin-left: 138px;
    }
  
    .u-section-9 .u-text-4 {
      margin-top: 15px;
      margin-right: 4px;
      margin-left: 138px;
    }
  
    .u-section-9 .u-social-icons-1 {
      margin-right: 4px;
    }
  
    .u-section-9 .u-image-2 {
      width: 253px;
      height: 383px;
      margin-top: 20px;
      margin-right: 4px;
      margin-left: auto;
    }
  
    .u-section-9 .u-layout-cell-2 {
      min-height: 468px;
    }
  
    .u-section-9 .u-group-3 {
      width: 334px;
      min-height: 358px;
      margin-left: 0;
    }
  
    .u-section-9 .u-text-5 {
      margin-right: 4px;
      margin-left: 138px;
    }
  
    .u-section-9 .u-text-6 {
      margin-top: 15px;
      margin-right: 4px;
      margin-left: 138px;
    }
  
    .u-section-9 .u-social-icons-2 {
      margin-top: 15px;
      margin-right: 15px;
    }
  
    .u-section-9 .u-image-3 {
      width: 262px;
      height: 380px;
      margin-top: 20px;
      margin-right: 15px;
      margin-left: auto;
    }
  }